sudoku/batchtest
!sudoku/convertinput.py
!sudoku/top2365.txt
out.txt

#pyc files and output files
reinforcement/environment.pyc
reinforcement/featureExtractors.pyc
reinforcement/game.pyc
reinforcement/ghostAgents.pyc
reinforcement/grading.pyc
reinforcement/gridworld.pyc
reinforcement/layout.pyc
reinforcement/learningAgents.pyc
reinforcement/mdp.pyc
reinforcement/pacman.pyc
reinforcement/pacmanAgents.pyc
reinforcement/projectParams.pyc
reinforcement/qlearningAgents.pyc
reinforcement/reinforcementTestClasses.pyc
reinforcement/textDisplay.pyc
reinforcement/util.pyc
